<ul class="nav navbar-nav navbar-right">
  <li>
    <p class="navbar-text navbar-right">
      <%= t('navigation.entered_as') % current_user.email %>
    </p>
  </li>
  <li id="exit">
    <%= link_to t('Exit'), destroy_user_session_path, method: :delete, class: 'button' %>
  </li>
</ul>