<div class="container">
  <div class="row">

    <div class="col-md-2 col-md-offset-1">
      <ul id="sortable1" class="connectedSortable">
        <li id="Item1" class="ui-state-default">Item 1</li>
        <li id="Item2" class="ui-state-default">Item 2</li>
        <li id="Item3" class="ui-state-default">Item 3</li>
        <li id="Item4" class="ui-state-default">Item 4</li>
        <li id="Item5" class="ui-state-default">Item 5</li>
      </ul>
    </div>

    <div class="col-md-2">
      <ul id="sortable2" class="connectedSortable">
        <li class="ui-state-highlight">Item 1</li>
        <li class="ui-state-highlight">Item 2</li>
        <li class="ui-state-highlight">Item 3</li>
        <li class="ui-state-highlight">Item 4</li>
        <li class="ui-state-highlight">Item 5</li>
      </ul>
    </div>

    <div class="col-md-2">
      <ul id="sortable3" class="connectedSortable">
        <li class="ui-state-highlight">Item 1</li>
        <li class="ui-state-highlight">Item 2</li>
        <li class="ui-state-highlight">Item 3</li>
        <li class="ui-state-highlight">Item 4</li>
        <li class="ui-state-highlight">Item 5</li>
      </ul>
    </div>

    <div class="col-md-2">
      <ul id="sortable4" class="connectedSortable">
        <li class="ui-state-highlight">Item 1</li>
        <li class="ui-state-highlight">Item 2</li>
        <li class="ui-state-highlight">Item 3</li>
        <li class="ui-state-highlight">Item 4</li>
        <li class="ui-state-highlight">Item 5</li>
      </ul>
    </div>

    <div class="col-md-2">
      <ul id="sortable5" class="connectedSortable">
        <li class="ui-state-highlight">Item 1</li>
        <li class="ui-state-highlight">Item 2</li>
        <li class="ui-state-highlight">Item 3</li>
        <li class="ui-state-highlight">Item 4</li>
        <li class="ui-state-highlight">Item 5</li>
      </ul>
    </div>

  </div>
</div>
