<%= form_for :auth, url: new_user_session_path, html: {class: "form-signin", role: "form"} do |f| %>

  <h2 class="form-signin-heading"><%= t('Authorization') %></h2>

  <input type="email" class="form-control" placeholder="<%= t('Email address') %>" name="email" required="" autofocus="">

  <input type="password" class="form-control" placeholder="<%= t('Password') %>" name="password" required="">

  <button class="btn btn-lg btn-primary btn-block" type="submit">
    <%= t('Sign in') %>
  </button>

<% end %>