<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <%= t('navigation.user') %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">

      <%= render partial: 'layouts/shared/navbar_right' %>

    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>