// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery.ui.all";
@import "*";

#exit {
  margin-right: 10px;
  margin-left: 10px;
}