#sortable1, #sortable2, #sortable3, #sortable4 {
  border: 1px solid #eee;
  width: 100%;
  min-height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 5px 0 0 0;
  float: left;
  margin-right: 10px;
}

#sortable5 {
  border: 1px solid #eee;
  width: 100%;
  min-height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 5px 0 0 0;
  float: left;
  margin-right: 0px;
}

#sortable1 li, #sortable2 li, #sortable3 li, #sortable4 li, #sortable5 li {
  margin: 0px 5px 5px 5px;
  padding: 5px;
  font-size: 1.2em;
}