<!DOCTYPE html>
<html>
<head>
  <title>Task</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <% if current_user %>
      <% if current_user.admin? %>
          <%= render partial: 'layouts/admin/navbar' %>
      <% else %>
          <%= render partial: 'layouts/user/navbar' %>
      <% end %>
  <% end %>

  <%= yield %>

</div>

</body>
</html>
